* {
    margin: 0px;
    padding: 0px;
}

/* Global */
body {
    display: grid;
    background-image: url("./image/mon.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 3%;
    margin-right: 3%;
    
}

nav {
    border-radius: 5px;
}


/* header */
nav.header {
    height: 20%;
    background-color: #333;
    display: block;
    
}

nav.header ul {
        flex: 1; /* Esto hará que la lista ocupe todo el espacio horizontal disponible */
        display: flex;
        justify-content: space-around;/* Distribuirá uniformemente los elementos en el espacio disponible */
        list-style: none;/* Elimina los puntos de lista */
}

nav.header ul li {
    display: inline;
    align-items: stretch;
}

nav.header ul img {
    
    height: 50px;
    width: 50px;
    
}


/* portfolio */
nav.portfolio {
    display: block;
    /* background-color: green; */
    
}

nav.portfolio ul li {
    display: inline;
    margin-right: 30px;
}

nav.portfolio ul img {
    height: 100px;
    width: 100px;
    
}

/* contacto */
nav.contacto {

    display: block;
    /* background-color: #333333; */
}

nav.contacto ul li {
    display: inline;
    margin-right: 30px;
}

nav.contacto ul img {
    height: 60px;
    width: 60px;
}

/* footer */

nav.footer {
    position: fixed;
        bottom: 0;
        left: 0;
        /* background-color: #333; */
        /* Estilo de fondo izquierdo */
        z-index: 1;
    display: block;
    /* background-color: #333333; */
}

nav.footer ul li {
    display: inline;
    margin-right: 30px;
}

nav.footer ul img {
    height: 50px;
    width: 50px;
}

nav.footer img#arch {

    height: 60px;
    width: 90px;
    background-color: #333333;
    border-radius: 50%;
}




